.instructor-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('../../assets/Banner/instructor.jpg');
    height: 200px;
    width: 100%;
    color: white;
    background-position: center;
}