@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0px;
  padding: 0px;
}

.b-active {
  color: #AB1318;
}

.b-active:hover {}

.b-default {
  color: #0F172A;
}

.b-default:hover {
  color: #AB1318;
}

.d-active {
  @apply border-b-4 border-purple-800
}

.d-active:hover {}

.d-default {}

.d-default:hover {
  @apply border-b-4 border-red-800
}